<h1>Profile Page</h1>
<ul>
  <h3><li><%= @blogger.name %></li></h3>
  <li><%= @blogger.age %></li>
  <li><%= @blogger.bio %></li>
  <li>Total Likes: <%= @blogger.total_likes %></li>
  <li><%= link_to @top_post.title, post_path(@top_post) %></li>

</ul>


<% @blogger.posts.each do |post| %>
  <ul>
    <h3>Title: <%= post.title %></h3>
    <p>Likes: <%= post.likes %></p>
    <p><%= post.content %></p>
  </ul>

<% end %>
