<h1>create post</h1>

<%= form_for @post do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :content %>
  <%= f.number_field :likes %>
  <%= f.collection_select :blogger_id, @bloggers, :id, :name %>
  <%= f.collection_select :destination_id, @destinations, :id, :name %>
  <%= f.submit %>
<% end %>
